@import '../../constants/styles.scss';

.button {
  width: 70px;
  color: $white !important;
  padding: 3px !important;
  font-size: 0.3rem;
  text-transform: none !important;
  border-radius: 10px !important;
  border: 2px solid $purple !important;
  margin-right: 10px !important;

  &:hover {
    background-color: $purple !important;
  }
}