.pagination {
  height: 40px;
}

.button {
  color: white;
  padding: 6px;
  width: 34px;
  height: 34px;
  min-width: 30px;
  border-radius: 50%;
  border:2px solid #7663fd;
  margin-right: 10px;
  &:hover {
    background-color: #7663fd;
  }
}
.active {
  background-color: #7663fd;
}