.header {
  grid-area: h;
  display: flex;
  justify-content: start;
  background-color: #191621;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;

  &__login {
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-name {
      font-size: 0.9rem;
    }

    span {
      margin-right: 10px;
      font-size: 0.65rem !important;
    }
  }

  &__logout {
    span {
      font-size: 1rem !important;
    }
  }

  &__notifications {
    margin-right: 10px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header {
    &__logout {
      font-size: 12px !important;
    }
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 0;
    width: 100vw;
  }
}