
$grey: #ccc;
$muted-grey: #999;
$heart: #f74888;
$white: #fff;

.post {
  &__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #788fdc
  }
  &__info {
    margin-left: 10px;
  }
  &__button {
    &-container {
      width: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #4f4f4f;
      padding: 3px 3px 3px 8px;
      border-radius: 15px;
      transition: all .2s;
      &.wider {
        width: 60px;
        transition: all .2s;
      }
    }
  }
  &__like-counter {
    margin-left: 5px;
    padding-right: 5px;
    color: $grey;
    &.liked {
      color: #f74888;
    }
  }
}

.like-button {
  position: relative !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  background: $grey !important;
  display: flex !important;
  justify-content: center !important;
  align-items:center !important;
  text-decoration: none !important;
  overflow: hidden !important;
  margin-top: 1px !important;
  svg {
    width: 14px;
    height: 14px;
  }
}

.like-button {
  .like-overlay {
      display: block !important;
      position: absolute !important;
      top: -2px !important;
      left: -2px !important;
      width: 28px !important;
      height: 28px !important;
      border-radius: 50% !important;
      background: $heart !important;
      transform: scale(0) !important;
      transition: all .5s !important;
      z-index: 0 !important;
  }
}

.like-button {
  svg {
      &.not-liked {
        display: block !important;
        color: $white !important;
        position: relative !important;
        z-index: 1 !important;
      }
      &.is-liked {
        display: none !important;
        color: $white !important;
        position: relative !important;
        z-index: 1 !important;
      }
  }
}

@-webkit-keyframes bouncy {
  from, to { -webkit-transform: scale(1, 1); }
  25% { -webkit-transform: scale(0.9, 1.1); }
  50% { -webkit-transform: scale(1.1, 0.9); }
  75% { -webkit-transform: scale(0.95, 1.05); }
}
@keyframes bouncy {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

.bouncy {
  -webkit-animation: bouncy 0.6s;
  animation: bouncy 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.like-button {
  &.is-active {
      .like-overlay {
          transform: scale(1) !important;
      }
      svg {
          &.not-liked {
              display: none  !important;
          }
          &.is-liked {
              display: block  !important;
          }
      }
  }
}